<!-- {% extends "parent.html" %}

{% block content %}
<style>
    /* Add your custom CSS styles here */
    .container{
        position: absolute;
    }
    .box {
        flex: 1 1 1 ;
        position: relative;
        height: 300px;
        width: 600px;
        padding: 20px;
        background-color: #72A0C1;
        border: 2px solid #03045e; 
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        text-align: center; /* Center the content */
    }
    form {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    label {
        color: black;
        font-family: "Anderson Grotesk";
        font-size: 40px;
    }
    #uname,#pword,#pword2{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    input {
        padding: 8px;
        margin-top: 5px;
        margin-left: 5px;
        width: 200px;
    }
    </style>
<form method="post" action="dashboard.html" class="sign">  
    {% csrf_token %}
    <div class="container2">   
        <div class="box">
            <div id="uname">
            <label>Username:</label>   
            <input type="text" placeholder="Enter Username" name="username" required><br>  
            </div>
            <div id="pword">
            <label>Password:</label>   
            <input type="password" placeholder="Enter Password" name="password1" required><br>  
            </div>
            <div id="pword2">
            <label>Password:</label>   
            <input type="password" placeholder="Re-Enter Password" name="password1" required><br>  
            </div>
            <a href="{% url 'home' %}">
                <button type="submit" class="home">Create User</button>
            </a>
        </div>
    </div>   
</form>
{% endblock %} -->